[submodule "design-flows"]
	path = design-flows
	url = https://github.com/XAOSTECH/design-flows.git

[submodule "themes"]
	path = themes
	url = https://github.com/XAOSTECH/themes.git

[submodule "pastel"]
	path = pastel
	url = https://github.com/sharkdp/pastel.git
